/* 头部通知栏  */
.title-header {
	background-color: #16102E;
}
.title-color {
	color: #fff !important;
}
.title-size-left {
	font-size: 20px !important;
	line-height: 30px;
}
.title-font {
	position: absolute;
	z-index: 1000;
	right: 10px;
	line-height: 3em !important;
}
.back-size {
	font-size: 20px !important;
}
.noshadow {
	box-shadow: none;
}
.input-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 10;
	right: 0;
	left: 0;
	height: 44px;
	padding-right: 10px;
	padding-left: 10px;
	border-bottom: 0px;
	box-shadow: 0 0 1px rgba(0,0,0,.85);
}
.input-header input {
	width: 80%;
	margin-bottom: 0px;
}
