/* 头部通知栏  */
.title-header {
	background-color: #16102E;
}
.title-color {
	color: #fff !important;
}
.title-size-left {
	font-size: 20px !important;
	line-height: 30px;
}
.title-font {
	position: absolute;
	z-index: 1000;
	right: 10px;
	line-height: 3em !important;
}
.back-size {
	font-size: 20px !important;
}
.noshadow {
	box-shadow: none;
}
