<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="root.mapper.MyFriendsMapper" >
  <resultMap id="BaseResultMap" type="root.model.MyFriends" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="my_id" property="myId" jdbcType="INTEGER" />
    <result column="my_friend_id" property="myFriendId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, my_id, my_friend_id, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from my_friends
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from my_friends
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="root.model.MyFriends" >
    insert into my_friends (id, my_id, my_friend_id, 
      create_time)
    values (#{id,jdbcType=VARCHAR}, #{myId,jdbcType=INTEGER}, #{myFriendId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="root.model.MyFriends" >
    insert into my_friends
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="myId != null" >
        my_id,
      </if>
      <if test="myFriendId != null" >
        my_friend_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="myId != null" >
        #{myId,jdbcType=INTEGER},
      </if>
      <if test="myFriendId != null" >
        #{myFriendId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="root.model.MyFriends" >
    update my_friends
    <set >
      <if test="myId != null" >
        my_id = #{myId,jdbcType=INTEGER},
      </if>
      <if test="myFriendId != null" >
        my_friend_id = #{myFriendId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="root.model.MyFriends" >
    update my_friends
    set my_id = #{myId,jdbcType=INTEGER},
      my_friend_id = #{myFriendId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>